.page > *,
.page > .full-width > .react-parallax-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 40rem;
}

.full-width {
    max-width: 100%;
    width: 100%;
    padding: 0;
}